<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njfu.bysj.oerts.mapper.ExamRegistrationMapper" >
	<resultMap id="BaseResultMap" type="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="ADMISSION_TICKET" property="admissionTicket" jdbcType="VARCHAR"/>
		<result column="ID_CARD_FRONT" property="idCardFront" jdbcType="VARCHAR"/>
		<result column="ID_CARD_BACK" property="idCardBack" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap id="CompleteResgistMap" type="com.njfu.bysj.oerts.bean.CompleteRegistExam">
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="ADMISSION_TICKET" property="admissionTicket" jdbcType="VARCHAR"/>
		<result column="ID_CARD_FRONT" property="idCardFront" jdbcType="VARCHAR"/>
		<result column="ID_CARD_BACK" property="idCardBack" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="INTEGER"/>
		<!-- 考试信息表字段添加 -->
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="EXAM_NAME" property="examName" jdbcType="VARCHAR"/>
		<result column="COST" property="cost" jdbcType="INTEGER"/>
		<result column="MAX_NUM" property="maxNum" jdbcType="INTEGER"/>
		<result column="EXAM_PLACE" property="examPlace" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_FROM" property="examTimeFrom" jdbcType="TIMESTAMP"/>
		<result column="EXAM_TIME_TO" property="examTimeTo" jdbcType="TIMESTAMP"/>
		<result column="REG_TIME_FROM" property="regTimeFrom" jdbcType="TIMESTAMP"/>
		<result column="REG_TIME_TO" property="regTimeTo" jdbcType="TIMESTAMP"/>
	</resultMap>
	 
	<sql id="Base_Column_List" >
        ID_CARD,EXAM_ID,ADMISSION_TICKET,STATUS,SCORE
    </sql> 
    
    <select id="countByIdCardAndExamID" parameterType="java.lang.String" resultType="INTEGER">
    	SELECT 
    		COUNT(*)
    	FROM
    		T_EXAM_REGISTRATION
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </select>
    
    <insert id="examRegistByIdCardAndExamID" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	INSERT INTO T_EXAM_REGISTRATION
    	VALUES (#{idCard}, #{examId}, #{admissionTicket}, #{status}, #{score})
    </insert>
    
    <select id="completeResgistList" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT
    		*
    	FROM T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM 
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE TER.ID_CARD = #{idCard}
    </select>
    
    <select id="examReview" resultMap="BaseResultMap">
    	SELECT
    		ID_CARD, EXAM_ID
    	FROM
    		T_EXAM_REGISTRATION
    	WHERE STATUS = '00'
    </select>
    
    <select id="getPayList" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT 
    		TEM.EXAM_ID,
    		TEM.EXAM_NAME,
    		TEM.COST,
    		TEM.EXAM_TIME_FROM,
    		TEM.EXAM_TIME_TO,
    		TEM.REG_TIME_TO
    	FROM T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM 
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE TER.ID_CARD = #{idCard} AND TER.STATUS = #{status}
    </select>
    
    <select id="getScoreByAdmissionTicket" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT 
			TEM.EXAM_NAME,
    		TER.SCORE
    	FROM
    		T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE ADMISSION_TICKET = #{admissionTicket}
    </select>
    
    <update id="updateReview" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	UPDATE T_EXAM_REGISTRATION
    		SET STATUS = #{status}
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </update>
    
    <delete id="deleteByIdCardAndExamID" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	DELETE 
    		FROM T_EXAM_REGISTRATION
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </delete>
    
</mapper>