<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njfu.bysj.oerts.mapper.ExamineeMapper" >
	<resultMap id="BaseResultMap" type="com.njfu.bysj.oerts.entity.ExamineeEntity">
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR"/>
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
		<result column="USER_SEX" property="userSex" jdbcType="INTEGER"/>
		<result column="USER_PROFESSION" property="userProfession" jdbcType="VARCHAR"/>
		<result column="LOGIN_PASSWORD" property="loginPassword" jdbcType="VARCHAR"/>
		<result column="PAY_PASSWORD" property="payPassword" jdbcType="VARCHAR"/>
		<result column="USER_PHOTO" property="userPhoto" jdbcType="VARCHAR"/>
		<result column="RESIDENTIAL_ADDRESS" property="residentialAddress" jdbcType="VARCHAR"/>
		<result column="EMAIL_ADDRESS" property="emailAddress" jdbcType="VARCHAR"/>
		<result column="USER_BALANCE" property="userBalance" jdbcType="VARCHAR"/>
		<result column="LAST_LOGIN_TIME" property="lastLogintime" jdbcType="TIMESTAMP"/>
	</resultMap>
	 
	<sql id="Base_Column_List" >
        ID_CARD,USER_PHONE,USER_NAME,USER_SEX,USER_PROFESSION,LOGIN_PASSWORD,PAY_PASSWORD,USER_PHOTO,RESIDENTIAL_ADDRESS,EMAIL_ADDRESS,USER_BALANCE,LAST_LOGIN_TIME
    </sql> 
    
    <select id="getAllExaminee" resultMap="BaseResultMap">
       SELECT 
       *
	   FROM T_EXAMINEE
    </select>
    
    <select id="selectCount" resultType="INTEGER">
    	SELECT
    	COUNT(*)
    	FROM T_EXAMINEE	
    </select>
    
    <select id="loginByPassw" parameterType="com.njfu.bysj.oerts.entity.ExamineeEntity" resultMap="BaseResultMap">
    	SELECT 
    		*
    	FROM T_EXAMINEE
    	WHERE 
    		USER_PHONE = #{userPhone} AND LOGIN_PASSWORD = #{loginPassword}
    </select>
    
	<select id="countByUserPhone" parameterType="java.lang.String" resultType="INTEGER">
		SELECT 
			COUNT(*)
		FROM T_EXAMINEE
		WHERE 
    		USER_PHONE = #{userPhone}
	</select>
	
	<select id="getBalanceByUserPhone" parameterType="java.lang.String" resultType="INTEGER">
		SELECT
			USER_BALANCE
		FROM T_EXAMINEE
			WHERE USER_PHONE = #{userPhone}
	</select>
	
	<select id="countByIdCard" parameterType="java.lang.String" resultType="INTEGER">
		SELECT 
			COUNT(*)
		FROM T_EXAMINEE
		WHERE 
    		ID_CARD = #{idCard} AND USER_PHONE <![CDATA[ <> ]]> #{userPhone}
	</select>
	
	<select id="getByIdCard" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT 
			*
		FROM T_EXAMINEE
		WHERE 
    		ID_CARD = #{idCard}
	</select>
	
	<select id="getByUserPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT 
			*
		FROM T_EXAMINEE
		WHERE 
    		USER_PHONE = #{userPhone}
	</select>
    
    <insert id="registByUserPhone" parameterType="com.njfu.bysj.oerts.entity.ExamineeEntity">
    	INSERT INTO T_EXAMINEE
    		(USER_PHONE, USER_NAME, LOGIN_PASSWORD, ID_CARD)
    	VALUES 
    		(#{userPhone}, #{userName}, #{loginPassword}, "")
    </insert>
    
    <update id="updateByUserPhone" parameterType="com.njfu.bysj.oerts.entity.ExamineeEntity">
    	UPDATE T_EXAMINEE
    		SET USER_PHONE = #{userPhone},
    			USER_NAME = #{userName},
    			USER_SEX = #{userSex},
    			ID_CARD = #{idCard},
    			USER_PROFESSION = #{userProfession},
    			EMAIL_ADDRESS = #{emailAddress},
    			RESIDENTIAL_ADDRESS = #{residentialAddress},
    			USER_PHOTO = #{userPhoto}
    	WHERE USER_PHONE = #{userPhone}
    </update>
    
    <update id="updateUserBalance" parameterType="com.njfu.bysj.oerts.entity.ExamineeEntity">
    	UPDATE T_EXAMINEE
    		SET USER_BALANCE = #{userBalance}
    	WHERE USER_PHONE = #{userPhone}
    </update>
    
    <update id="updatePasswByUserPhone" parameterType="com.njfu.bysj.oerts.entity.ExamineeEntity">
    	UPDATE T_EXAMINEE
    		SET LOGIN_PASSWORD = #{loginPassword}
    	WHERE USER_PHONE = #{userPhone}
    </update>
</mapper>