<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njfu.bysj.oerts.mapper.ExamRegistrationMapper" >
	<resultMap id="BaseResultMap" type="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="ADMISSION_TICKET" property="admissionTicket" jdbcType="VARCHAR"/>
		<result column="ID_CARD_FRONT" property="idCardFront" jdbcType="VARCHAR"/>
		<result column="ID_CARD_BACK" property="idCardBack" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="INTEGER"/>
		<result column="ROOM_NUM" property="roomNum" jdbcType="INTEGER"/>
		<result column="SET_NUM" property="setNum" jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap id="CompleteResgistMap" type="com.njfu.bysj.oerts.bean.CompleteRegistExam">
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="ADMISSION_TICKET" property="admissionTicket" jdbcType="VARCHAR"/>
		<result column="ID_CARD_FRONT" property="idCardFront" jdbcType="VARCHAR"/>
		<result column="ID_CARD_BACK" property="idCardBack" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="INTEGER"/>
		<result column="ROOM_NUM" property="roomNum" jdbcType="INTEGER"/>
		<result column="SET_NUM" property="setNum" jdbcType="INTEGER"/>
		<!-- 考试信息表字段添加 -->
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="EXAM_NAME" property="examName" jdbcType="VARCHAR"/>
		<result column="EXAM_TYPE" property="examType" jdbcType="VARCHAR"/>
		<result column="COST" property="cost" jdbcType="INTEGER"/>
		<result column="MAX_NUM" property="maxNum" jdbcType="INTEGER"/>
		<result column="EXAM_PLACE" property="examPlace" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD1" property="examTimePeriod1" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD2" property="examTimePeriod2" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD3" property="examTimePeriod3" jdbcType="VARCHAR"/>
		<result column="REG_TIME_FROM" property="regTimeFrom" jdbcType="VARCHAR"/>
		<result column="REG_TIME_TO" property="regTimeTo" jdbcType="VARCHAR"/>
		<result column="EXAM_INTRODUCE" property="examIntroduce" jdbcType="VARCHAR"/>
		<result column="REGIST_NUM" property="registNum" jdbcType="INTEGER"/>
		<result column="PASE_SCORE" property="paseScore" jdbcType="INTEGER"/>
		<result column="TOTAL_SCORE" property="totalScore" jdbcType="INTEGER"/>
		<result column="IS_CERTIFICATE" property="isCertificate" jdbcType="VARCHAR"/>
		<result column="IS_ENTRY" property="isEntry" jdbcType="INTEGER"/>
		<result column="HALL_NUM" property="hallNum" jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap id="ExamineeRegistMap" type="com.njfu.bysj.oerts.bean.ExamineeRegistInfo">
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="ADMISSION_TICKET" property="admissionTicket" jdbcType="VARCHAR"/>
		<result column="ID_CARD_FRONT" property="idCardFront" jdbcType="VARCHAR"/>
		<result column="ID_CARD_BACK" property="idCardBack" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="INTEGER"/>
		<result column="ROOM_NUM" property="roomNum" jdbcType="INTEGER"/>
		<result column="SET_NUM" property="setNum" jdbcType="INTEGER"/>
		<!-- 考生信息表字段添加 -->
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR"/>
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
		<result column="USER_SEX" property="userSex" jdbcType="INTEGER"/>
		<result column="USER_PROFESSION" property="userProfession" jdbcType="VARCHAR"/>
		<result column="LOGIN_PASSWORD" property="loginPassword" jdbcType="VARCHAR"/>
		<result column="PAY_PASSWORD" property="payPassword" jdbcType="VARCHAR"/>
		<result column="USER_PHOTO" property="userPhoto" jdbcType="VARCHAR"/>
		<result column="RESIDENTIAL_ADDRESS" property="residentialAddress" jdbcType="VARCHAR"/>
		<result column="EMAIL_ADDRESS" property="emailAddress" jdbcType="VARCHAR"/>
		<result column="USER_BALANCE" property="userBalance" jdbcType="VARCHAR"/>
		<result column="LAST_LOGIN_TIME" property="lastLogintime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<resultMap id="ftlInfoMap" type="com.njfu.bysj.oerts.bean.FtlInfo">
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
		<result column="ADMISSION_TICKET" property="admissionTicket" jdbcType="VARCHAR"/>
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR"/>
		<result column="EXAM_NAME" property="examName" jdbcType="VARCHAR"/>
		<result column="EXAM_TYPE" property="examType" jdbcType="VARCHAR"/>
		<result column="EXAM_PLACE" property="examPlace" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD1" property="examTimePeriod1" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD2" property="examTimePeriod2" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD3" property="examTimePeriod3" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="INTEGER"/>
		<result column="ROOM_NUM" property="roomNum" jdbcType="INTEGER"/>
		<result column="SET_NUM" property="setNum" jdbcType="INTEGER"/>
		<result column="USER_PHOTO" property="userPhoto" jdbcType="VARCHAR"/>
	</resultMap>
	 
	<sql id="Base_Column_List" >
        ID_CARD,EXAM_ID,ADMISSION_TICKET,STATUS,SCORE,ID_CARD_FRONT,ID_CARD_BACK,ROOM_NUM,SET_NUM
    </sql> 
    
    <select id="countByIdCardAndExamID" parameterType="java.lang.String" resultType="INTEGER">
    	SELECT 
    		COUNT(*)
    	FROM
    		T_EXAM_REGISTRATION
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </select>
    
    <insert id="examRegistByIdCardAndExamID" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	INSERT INTO T_EXAM_REGISTRATION
    		(ID_CARD, EXAM_ID, ADMISSION_TICKET, STATUS, SCORE, ID_CARD_FRONT, ID_CARD_BACK)
    	VALUES 
    		(#{idCard}, #{examId}, #{admissionTicket}, #{status}, #{score}, #{idCardFront}, #{idCardBack})
    </insert>
    
    <select id="completeResgistList" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT
    		TEM.EXAM_ID,
    		TEM.EXAM_NAME,
    		TER.STATUS
    	FROM T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM 
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE TER.ID_CARD = #{idCard}
    </select>
    
    <select id="examReview" resultMap="ExamineeRegistMap">
    	SELECT
    		TER.ID_CARD,
    		TER.EXAM_ID,
    		TER.ID_CARD_FRONT,
    		TER.ID_CARD_BACK,
    		TE.USER_NAME,
    		TE.USER_PHONE
    	FROM
    		T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAMINEE TE
    		ON TE.ID_CARD = TER.ID_CARD
    	WHERE TER.STATUS = '00'
    </select>
    
    <select id="getRASInfo" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT 
    		TER.ROOM_NUM,
    		TER.SET_NUM,
    		TEM.HALL_NUM
    	FROM T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM 
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE TEM.EXAM_ID = #{examId} AND TER.STATUS = '20'
    	ORDER BY TER.ROOM_NUM DESC, TER.SET_NUM DESC 
    	LIMIT 1
    </select>
    
    <select id="getPayList" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT 
    		TEM.EXAM_ID,
    		TEM.EXAM_NAME,
    		TEM.COST,
    		TEM.EXAM_TIME_PERIOD1,
    		TEM.REG_TIME_TO
    	FROM T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM 
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE TER.ID_CARD = #{idCard} AND TER.STATUS = #{status}
    </select>
    
    <select id="getScoreByAdmissionTicket" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT 
			TEM.EXAM_NAME,
    		TER.SCORE
    	FROM
    		T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE ADMISSION_TICKET = #{admissionTicket} AND IS_ENTRY = 1
    </select>
    
    <select id="getScoreEntryListById" resultMap="ExamineeRegistMap" parameterType="java.lang.String" >
    	SELECT
			TE.USER_NAME,
			TE.USER_PHONE,
			TER.ADMISSION_TICKET,
			TER.SCORE,
			TER.EXAM_ID
		FROM
			T_EXAM_REGISTRATION TER
		LEFT JOIN T_EXAMINEE TE ON 
			TE.ID_CARD = TER.ID_CARD
		WHERE
			TER.EXAM_ID = #{examId} AND TER.STATUS = '20'
    </select>
    
    <select id="getPaseNumById" parameterType="java.lang.String" resultType="INTEGER">
    	SELECT
    		COUNT(*)
    	FROM
			T_EXAM_REGISTRATION TER
		LEFT JOIN T_EXAM_MANAGEMENT TEM ON 
			TER.EXAM_ID = TEM.EXAM_ID
		WHERE
			TER.EXAM_ID = #{examId} AND TER.STATUS = '20' AND TER.SCORE &gt;= TEM.PASE_SCORE
    </select>
    
    <select id="getCompleteResgistInfo" parameterType="java.lang.String" resultMap="CompleteResgistMap">
    	SELECT
    		*
    	FROM T_EXAM_REGISTRATION TER
    	LEFT JOIN T_EXAM_MANAGEMENT TEM 
    		ON TER.EXAM_ID = TEM.EXAM_ID
    	WHERE TER.ID_CARD = #{idCard} AND TER.EXAM_ID = #{examId}
    </select>
    
    <select id="getAdmissionTicketInfo" parameterType="java.lang.String" resultMap="ftlInfoMap">
    	SELECT 
			TE.USER_NAME,
			TE.USER_PHOTO,
			TER.ADMISSION_TICKET,
			TER.ID_CARD,
			TEM.EXAM_NAME,
			TEM.EXAM_TYPE,
			TEM.EXAM_PLACE,
		    TER.ROOM_NUM,
		    TER.SET_NUM,
		    TEM.EXAM_TIME_PERIOD1,
			TEM.EXAM_TIME_PERIOD2,
			TEM.EXAM_TIME_PERIOD3
		FROM T_EXAMINEE TE
		LEFT JOIN T_EXAM_REGISTRATION TER
			ON TE.ID_CARD = TER.ID_CARD
		LEFT JOIN T_EXAM_MANAGEMENT TEM
			ON TER.EXAM_ID = TEM.EXAM_ID
		WHERE TER.ID_CARD = #{idCard} and TER.EXAM_ID = #{examId}
    </select>
    
    <update id="updateReview" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	UPDATE T_EXAM_REGISTRATION
    		SET STATUS = #{status}
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </update>
    
    <update id="updatePayExam" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	UPDATE T_EXAM_REGISTRATION
    		SET STATUS = '20',
    			ADMISSION_TICKET = #{admissionTicket},
    			ROOM_NUM = #{roomNum},
    			SET_NUM = #{setNum}
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </update>
    
    <update id="entryScore" parameterType="java.util.List">
    	<foreach collection="scoreInfo" item="item" separator=";">
    		UPDATE T_EXAM_REGISTRATION
    			SET SCORE = #{item.score}
    		WHERE
    			ADMISSION_TICKET = #{item.admissionTicket} AND EXAM_ID = #{item.examId}
    	</foreach>
    </update>
    
    <delete id="deleteByIdCardAndExamID" parameterType="com.njfu.bysj.oerts.entity.ExamRegistrationEntity">
    	DELETE 
    		FROM T_EXAM_REGISTRATION
    	WHERE ID_CARD = #{idCard} AND EXAM_ID = #{examId}
    </delete>
    
</mapper>