<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njfu.bysj.oerts.mapper.ExamManagementMapper" >
	<resultMap id="BaseResultMap" type="com.njfu.bysj.oerts.entity.ExamManagementEntity">
		<result column="EXAM_ID" property="examId" jdbcType="VARCHAR"/>
		<result column="EXAM_NAME" property="examName" jdbcType="VARCHAR"/>
		<result column="COST" property="cost" jdbcType="INTEGER"/>
		<result column="MAX_NUM" property="maxNum" jdbcType="INTEGER"/>
		<result column="EXAM_PLACE" property="examPlace" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD1" property="examTimePeriod1" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD2" property="examTimePeriod2" jdbcType="VARCHAR"/>
		<result column="EXAM_TIME_PERIOD3" property="examTimePeriod3" jdbcType="VARCHAR"/>
		<result column="REG_TIME_FROM" property="regTimeFrom" jdbcType="VARCHAR"/>
		<result column="REG_TIME_TO" property="regTimeTo" jdbcType="VARCHAR"/>
		<result column="EXAM_INTRODUCE" property="examIntroduce" jdbcType="VARCHAR"/>
		<result column="REGIST_NUM" property="registNum" jdbcType="INTEGER"/>
		<result column="PASE_SCORE" property="paseScore" jdbcType="INTEGER"/>
		<result column="TOTAL_SCORE" property="totalScore" jdbcType="INTEGER"/>
		<result column="IS_CERTIFICATE" property="isCertificate" jdbcType="VARCHAR"/>
		<result column="IS_ENTRY" property="isEntry" jdbcType="INTEGER"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
        EXAM_ID,EXAM_NAME,COST,MAX_NUM,EXAM_PLACE,EXAM_TIME_PERIOD1,EXAM_TIME_PERIOD2,EXAM_TIME_PERIOD3,REG_TIME_FROM,REG_TIME_TO,EXAM_INTRODUCE,REGIST_NUM,PASE_SCORE,TOTAL_SCORE,IS_CERTIFICATE,IS_ENTRY
    </sql>
    
    <select id="getAllExams" resultMap="BaseResultMap">
    	SELECT
    		<include refid="Base_Column_List"/>
    	FROM
    		T_EXAM_MANAGEMENT
    </select>
    
    <select id="getExamById" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT
    		<include refid="Base_Column_List"/>
    	FROM
    		T_EXAM_MANAGEMENT
    	WHERE EXAM_ID = #{examId}
    </select>
    
    
	<select id="getMaxExamId" resultType="java.lang.String">
    	SELECT
    		EXAM_ID
    	FROM
    		T_EXAM_MANAGEMENT
    	ORDER BY EXAM_ID DESC
    	LIMIT 1
    </select>
    
    <select id="getExamByIsEntry" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	SELECT
    		EXAM_ID,
    		EXAM_NAME,
    		EXAM_TIME_PERIOD1,
    		REGIST_NUM
    	FROM
    		T_EXAM_MANAGEMENT
    	WHERE IS_ENTRY = #{isEntry}
    		
    </select>
    
    <update id="updateRegNumById" parameterType="com.njfu.bysj.oerts.entity.ExamManagementEntity">
    	UPDATE T_EXAM_MANAGEMENT
    		SET REGIST_NUM = #{registNum}
    	WHERE
    		EXAM_ID = #{examId}
    </update>
    
    <update id="updateRegNumMinusById" parameterType="java.lang.String">
    	UPDATE T_EXAM_MANAGEMENT
    		SET REGIST_NUM = REGIST_NUM - 1
    	WHERE
    		EXAM_ID = #{examId}
    </update>
    
    <update id="updateIsEntryById" parameterType="java.lang.String">
    	UPDATE T_EXAM_MANAGEMENT
    		SET IS_ENTRY = 1
    	WHERE
    		EXAM_ID = #{examId}
    </update>
    
    <insert id="addExam" parameterType="com.njfu.bysj.oerts.entity.ExamManagementEntity">
    	INSERT INTO T_EXAM_MANAGEMENT
			(EXAM_ID, EXAM_NAME, COST, MAX_NUM, EXAM_PLACE, EXAM_TIME_PERIOD1, EXAM_TIME_PERIOD2, EXAM_TIME_PERIOD3,
			REG_TIME_FROM, REG_TIME_TO, EXAM_INTRODUCE, REGIST_NUM, PASE_SCORE, TOTAL_SCORE, IS_CERTIFICATE, IS_ENTRY)
		VALUES
			(#{examId}, #{examName}, #{cost}, #{maxNum}, #{examPlace}, #{examTimePeriod1}, #{examTimePeriod2}, #{examTimePeriod3},
			#{regTimeFrom}, #{regTimeTo}, #{examIntroduce}, #{registNum}, #{paseScore}, #{totalScore}, #{isCertificate}, 0)
    </insert>
    
</mapper>